streamlit>=1.39.0
huggingface_hub>=0.24.0
python-dotenv>=1.0.1
moviepy>=1.0.3
ffmpeg-python>=0.2.0
requests>=2.32.0
groq>=0.12.0
# Wav2Lip dependencies
# Dependencies required for Wav2Lip usage and model downloads
gdown>=4.7.1
torch>=2.0.0
torchvision>=0.15.0
torchaudio>=2.0.0
librosa>=0.10.0
scipy>=1.10.0
opencv-contrib-python>=4.8.0
tqdm>=4.65.0
numba>=0.57.0
extra-streamlit-components>=0.1.0
firebase-admin>=6.2.0